<h2>Discount: <%= @discount.id %></h2>
<p>Status: <%= @discount.status.upcase %></p>
<p>Percent Off: <%= number_to_percentage(@discount.percent, strip_insignificant_zeros: true) %></p>
<p>Required Item Quantity: <%= @discount.quantity %> units</p>
<%= link_to "Edit Discount", edit_merchant_discount_path(@discount) %><br>
  <% if @discount.status == 'active' %>
    <%= link_to "Deactivate", merchant_discount_status_path(@discount), method: :put %>
  <% elsif @discount.status == 'inactive' %>
    <%= link_to "Activate", merchant_discount_status_path(@discount), method: :put %>
    <%= link_to "Delete", merchant_discount_path(@discount), method: :delete %>
  <% end %>
  <h3><%= link_to "Back to All Bulk Discounts", '/merchant/discounts' %></h3>
